<h1>Flight Search (Multistop)</h1>

<form [formGroup]="filter">

  <div class="form-group">

    <label>From</label>
    <input class="form-control"
           formControlName="from"
    >

    <div *ngIf="!filter.controls['from'].valid && !filter.controls['from'].pending ">
      Validierungsfehler. Bitte prüfen Sie Ihre Eingaben.
    </div>

    <div *ngIf="filter.controls['from'].hasError('city')">
      Ort wird nicht angeflogen!
    </div>

    <div *ngIf="filter.controls['from'].hasError('minlength')">
      Zu kurz
    </div>

    <div *ngIf="filter.controls['from'].hasError('required')">
      Dieses Feld ist ein Pflichtfeld
    </div>

    <div *ngIf="filter.controls['from'].hasError('cityAsync')">
      Derzeit keine freien Flüge für diesen Ort!
    </div>

    <div *ngIf="filter.controls['from'].pending">
      Validierung findet im Hintergrund statt.
    </div>

  </div>

  <div class="form-group">
    <label>To</label>
    <input class="form-control" formControlName="to" name="to">
  </div>

  <!--<h2>Dynamisches Formular für Von->Bis-Auswahl</h2>-->
  <!--<div *ngFor="let item of formDesc">-->
    <!--<label>{{item.label}}</label>-->
    <!--<input [formControlName]="item.name" class="form-control">-->
  <!--</div>-->

  <div formArrayName="stopovers">
    <div *ngFor="let stopover of filter.get('stopovers').controls; let i = index">
      <div [formGroupName]="i" class="panel panel-default" >
        <div class="panel-body">
          <div class="form-group">
            <label>Aufenthalt in</label>
            <input class="form-control" formControlName="city">
          </div>
          <div class="form-group">
            <label>Dauer in Tagen</label>
            <input class="form-control" formControlName="duration">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="form-group">
    <button
      class="btn btn-primary"
      name="btnSearch"
      [disabled]="!filter.valid"
      (click)="search()">Search
    </button>

    <button
      class="btn btn-primary"
      name="btnAddStopover"
      (click)="addStopover()">Add Stopover
    </button>

    <button
      class="btn btn-primary"
      name="btnRemoveStopover"
      (click)="removeStopover()">Remove Stopover
    </button>
  </div>


  <!--<div [formGroup]="myGroup">-->
    <!--<input formControlName="firstName">-->
    <!--<input [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}">-->
  <!--</div>-->


  <div *ngIf="!filter.controls['stopovers'].valid">
    Es sind Fehler aufgetreten.
  </div>
  <div *ngIf="filter.controls['stopovers'].hasError('multistop')">
    Rundflüge sind nicht erlaubt.
  </div>

  <table class="table table-striped">
    <tr *ngFor="let flight of flights"
        [ngClass]="{ 'active':flight === selectedFlight }">
      <td>{{flight.id}}</td>
      <td>{{flight.from}}</td>
      <td>{{flight.to}}</td>
      <td>{{flight.date | date:'dd.MM.yyyy HH:mm'}}</td>
      <td><a (click)="select(flight)">Zeige JSON</a></td>
    </tr>
  </table>

  <div *ngFor="let f of flights" class="col-sx-12 col-sm-6 col-md-4 col-lg-3">
    <flight-card
      [item]="f"
      [selected]="basket[f.id]"
      (selectedChange)="basket[f.id] = $event">

      <a class="btn btn-default"
         [routerLink]="['../flight-edit', f.id]">Editieren</a>
    </flight-card>
  </div>

  <pre>Warenkorb
    -----------------------------
    {{basket | json}}
  </pre>

</form>
